body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
}
.circle:hover{
    z-index: 1;
}
.circle:nth-child(1){
    background: url(bg1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    clip-path: circle(100px at 0 0);
}
.circle:nth-child(1):hover{
    clip-path: circle(1200px at 0 0);
}
.circle:nth-child(2){
    background: url(bg2.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: circle(100px at 100% 0);
}
.circle:nth-child(2):hover{
    clip-path: circle(1200px at 100% 0);
}
.txt1{
    color:palevioletred;
    font-size: 100pt;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding-top: 15%;
}
.txt2{
    color: palevioletred;
    font-size: 40pt;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}
.txt3{
color: palevioletred;
font-size: 40pt;
font-family: 'Work Sans', sans-serif;
text-align: center;
}
